{% extends 'resources/adminlte_templates/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Timeline</h3></div>
    <div class="card-body">
      <div class="timeline">
        <div class="time-label"> <span class="bg-red">10 Feb. 2023</span></div>
        <div>
          <i class="fas fa-envelope bg-blue"></i>
          <div class="timeline-item">
            <h3 class="timeline-header">Support Team sent you an email</h3>
            <div class="timeline-body">E-posta içeriği buraya gelir.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
