{% extends 'resources/adminlte_templates/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">DataTables</h3></div>
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead><tr><th>#</th><th>Name</th><th>Email</th></tr></thead>
        <tbody>
          <tr><td>1</td><td>Ali</td><td>a@example.com</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    // Requires DataTables plugin in /vendor/adminlte/plugins/datatables
    $(function(){
      if ($.fn.dataTable) { $('#example1').DataTable(); }
    })
  </script>
{% endblock %}
