{% extends 'resources/adminlte_templates/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Simple Tables</h3></div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead><tr><th>#</th><th>Name</th><th>Role</th></tr></thead>
        <tbody>
          <tr><td>1</td><td>Ali</td><td>Yonetici</td></tr>
          <tr><td>2</td><td>Veli</td><td>Uye</td></tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
